.about-us-section {
    background-color: #f8f9fa;
    margin-top: 100px;
    padding: 50px 20px;
}

/* العنوان */
.section-title {
    font-weight: bold;
    color: #13294b;
    font-size: 2rem;
    text-align: center;
}

.section-title > span > a {
    text-decoration: none;
}

.underline {
    border-bottom: 3px solid #007bff;
    padding-bottom: 5px;
}

.section-text {
    color: #555;
    font-size: 1.1rem;
    text-align: center;
}

.icon {
    color: #007bff;
    margin-right: 5px;
}
