<<<<<<< HEAD
@import "tailwindcss";
=======
>>>>>>> b383528ac2af14bd756cd1b11dda2d4979f3feca
:root {
    --card-bg: #fff;
    --card-hover: rgba(0, 0, 0, 0.15);
    --icon-color: #333;
    --text-color: #000;
}

body.dark-mode {
    --card-bg: #1e1e1e;
    --card-hover: rgba(255, 255, 255, 0.1);
    --icon-color: #fff;
    --text-color: #fff;
}

.skill-icon {
    font-size: 60px;
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    animation: pulse 0.6s ease;
}

.icon-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    transition: all 0.4s ease;
    animation: fadeInUp 0.6s ease forwards;
    opacity: 0;
}


.icon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px var(--card-hover);
    cursor: pointer;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spinner 1.5s linear infinite;
    margin: 0 auto;
}
