.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* تحسين ألوان الروابط لجعلها متوافقة مع Dark Mode */
.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #f8b400; /* لون مميز عند تمرير الماوس */
}

/* تحسين تصميم الأيقونات */
.social-icon {
  color: #bbb;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #f8b400;
}

/* تحسين توافق الفوتر مع الأجهزة الصغيرة */
@media (max-width: 768px) {
  .footer-links {
      text-align: center;
      padding: 0;
  }

  .footer-links li {
      margin-bottom: 5px;
  }

  .social-icon {
      font-size: 20px;
  }
}

